<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>

    <!--CSS-->
    <link rel="stylesheet" th:href="@{/bootstrap-5.0.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/fontawesome-5.15.3/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/estilo.css}">

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Sistema Funcionário</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/funcionario/list">Funcionários</a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cargo/list">Cargos</a>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="/projeto/list">Projetos</a>
              </li>
            </ul>
            <span class="navbar-text">
              Um grande sistema bom 
            </span>
          </div>
        </div>
      </nav>


    <div class="container contanier-body-funcionario">
        <form th:action="@{/cargo/save}"
              th:object="${cargo}"
              method="post">

            <div th:if="${erro}" class="alert alert-danger">
                <span th:text="${erroMsg}"></span>
            </div>

    <div class="form-floating">
        <input type="number" class="form-control" id="floatingInputId"
               placeholder="Código" disabled th:field="${cargo.id}">
        <label for="floatingInputId">Código</label>
    </div>

    <div class="form-floating">
        <input type="text" class="form-control" id="floatingInputNome" placeholder="Nome"
        th:field="${cargo.nome}" required>
        <label for="floatingInputNome">Nome</label>
    </div>

            <div class="row">
                <div class="col">
                    <a th:href="@{/cargo/list}" class="btn btn-outline-secondary btn-form" href="#">Voltar
                    <i class="fa fa-backspace"></i>
                    </a>
                </div>
                <div class="col">
                    <button class="btn btn-outline-success btn-form" type="submit">
                        <i class="fa fa-save"></i> Salvar
                    </button>
                </div>
            </div>
    </form>
    </div>

<!--JS-->

<script th:src="@{/javascript/jquery-3.6.0.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
<script th:src="@{/bootstrap-5.0.0/js/bootstrap.min.js}"></script>
</body>
</html>