body {
    background-color: rgb(231, 231, 231);
}

/*TABLE*/

div#container {
    width: 100%;
    height: 91vh;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

div#table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#novo-pai {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90%;
    margin-top: 10px;
}
#novo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(12, 104, 224);
    transition: .2s;
}
#novo:hover {
    background-color: rgb(6, 31, 49);
}
a#novo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.932);
}
table {
    width: 90%;
    height: 70px;
    
    margin-top: 10px;
    text-align: center;
    background-color: rgb(196, 196, 196);
    border-radius: 5px;
}
 table tr {
    height: 40px;
    border-radius: 5px;
}
table tr td {
    border-top: 1px #000 solid;
}
table tbody tr {
    transition: .2s;
}
table tbody tr:hover {
    background-color: rgb(6, 31, 49);
    color: #fff;
}


/*ION-ICON*/

ion-icon {
    width: 30px;
    height: 30px;
    padding: 0 10px;
    cursor: pointer;
}
#edit {
    color: rgb(100, 100, 100);
}
#edit:hover {
    
    color: royalblue;
}
#delete {
    color: rgb(100, 100, 100);
}
#delete:hover {
    color: red;
}
a .id {
    color: transparent;
}

.modal-header-color{
    background-color: rgb(6, 31, 49);
    color: #fff;
}