body {
    background-color: rgb(14, 6, 80);
}

/*TABLE*/

div#table {
    display: flex;
    justify-content: center;
    background-color: transparent;
}
table {
    width: 90%;
    height: 70px;
    margin-top: 30px;
    text-align: center;
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
}
 table tr {
    height: 40px;
    border-radius: 15px;
}
table tr td {
    border-top: 1px #000 solid;
}
table tbody tr {
    transition: .2s;
}
table tbody tr:hover {
    background-color: #4e4e4e;
    color: #fff;
}
#novo {
    width: 50px;
    height: 30px;
    float: right;
    background-color: snow;
}

/*ION-ICON*/

ion-icon {
    width: 30px;
    height: 30px;
    padding: 0 10px;
    cursor: pointer;
}
#edit {
    color: rgb(100, 100, 100);
}
#edit:hover {
    
    color: royalblue;
}
#delete {
    color: rgb(100, 100, 100);
}
#delete:hover {
    color: red;
}
a .id {
    color: transparent;
}

.modal-header-color{
    background-color: rgb(6, 31, 49);
    color: #fff;
}