<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Projeto</title>

    <!--CSS-->
    <link rel="stylesheet" th:href="@{/bootstrap-5.0.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/fontawesome-5.15.3/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/listprojeto.css}">
    <link rel="stylesheet" th:href="@{/css/listprojetoResp.css}" media="screen and (max-width: 1000px)">


</head>
<body>

<!--  NAV  -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Sistema Funcionário</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/funcionario/list">Funcionários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cargo/list">Cargos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Projetos</a>
                </li>
            </ul>
            <span class="navbar-text">
              Um grande sistema bom
            </span>
        </div>
    </div>
</nav>

<!-- HEADER -->



<div id="container">
    <div id="table">
        <div id="novo-pai">
            <div id="novoo">
                <a id="novo" th:href="@{/projeto/add}">Novo</a>
            </div>
        </div>

        <table>
            <thead>
            <tr >
                <th>Código</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Status</th>
                <th>Risco</th>
                <th>Orçamento</th>
                <th>Dt. início</th>
                <th>Dt. final</th>
                <th>Gerente</th>
                <th>Opções</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="projeto : ${projetos}">
                <td th:text="${projeto.id}"></td>
                <td th:text="${projeto.nome}"></td>
                <td th:text="${projeto.descricao}"></td>
                <td th:text="${projeto.status}"></td>
                <td th:text="${projeto.risco}"></td>
                <td th:text="${'R$ '+ #numbers.formatDecimal(projeto.orcamento, 1, 'DEFAULT', 2,'DEFAULT')}"></td>
                <td th:text="${#dates.format(projeto.dataInicial, 'dd/MM/yyyy')}"></td>
                <td th:text="${#dates.format(projeto.dataFinal, 'dd/MM/yyyy')}"></td>
                <td th:text="${projeto.gerente.nome}"></td>
                <td>
                    <a th:href="@{'/projeto/edit/' + ${projeto.id}}" class="id"> <ion-icon name="create" id="edit"></ion-icon> </a>
                    <a th:onclick="|showModalDeletar('projeto', ${projeto.id})|" class="id"> <ion-icon name="trash-outline" id="delete"></ion-icon> </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal" tabindex="-1" id="modalDeletar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-color">
                <h5 class="modal-title">Aviso !</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Voce deseja deletar mesmo o projeto? kkkk.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="deletar()">Deletar</button>
            </div>
        </div>
    </div>
</div>




<!--JS-->

<script th:src="@{/javascript/jquery-3.6.0.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

<script th:src="@{/bootstrap-5.0.0/js/bootstrap.min.js}"></script>
<script th:src="@{/javascript/script.js}"></script>
</body>
</html>